.send-button{
  background-color : green;
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.input-box{
  border-width: 1px;
  border-radius: 10px;
  font-size: 15px;
  padding: 12px 20px;
  flex-grow: 1;
  margin-bottom: 10px;
  justify-content: center;
}